/* Footer.module.css */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #222;
    color: white;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.link {
    color: #4caf50;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
